<h1>Welcome to The Reviewery</h1>

<!-- Credit to Manoela Ilic  below-->
<!-- github repo https://github.com/codrops/HoverEffectIdeas/blob/master/css/component.css -->

<div class="grid">

    <figure class="effect-sadie">
        <img src="http://images.wisegeek.com/light-beer.jpg" alt="img01"/>
        <figcaption>
            <h2>Blonde <span>Ale</span></h2>
            <p>View all blonde ales</p>
            <a href="/beers?beer_type=Blonde">View more</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://www.pathaverfield.com/data/photos/131_1beer_stroke.jpg" alt="img02"/>
        <figcaption>
            <h2>Amber <span>Ale</span></h2>
            <p>View all amber ales</p>
            <a href="/beers?beer_type=Amber">View all light beer</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://static.squarespace.com/static/508e2a7fe4b05d6afd97a2b0/t/52310b5fe4b0a0df42c12d16/1378945899984/Brown%20Edit%20(small).jpg" alt="img03"/>
        <figcaption>
            <h2>Stout <span>Beer</span></h2>
            <p>View all stout beers</p>
            <a href="/beers?beer_type=Stout">View more</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://yazoobrew.com/10yearsite/wp-content/themes/rezo/themify/img.php?src=http://yazoobrew.com/10yearsite/wp-content/uploads/2013/10/beer-067-1024x1024.jpg&w=500&h=500&zc=1" alt="img06"/>
        <figcaption>
            <h2>Wheat <span>Beer</span></h2>
            <p>View all Wheat Beers beers</p>
            <a href="/beers?beer_type=Wheat">View more</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://static.squarespace.com/static/5383dc8ae4b0ac7f7a7d88c5/53852aa3e4b05d6a0cc0ffa9/53852f13e4b0eadfb77c8bd9/1401247839157/Beer.jpg" alt="img05"/>
        <figcaption>
            <h2> <span>Lager</span></h2>
            <p>View all lagers</p>
            <a href="/beers?beer_type=Lager">View all lagers</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://images.wisegeek.com/three-types-of-beer-in-pilsner-glasses.jpg" alt="img04"/>
        <figcaption>
            <h2>Beer <span>of the Week</span></h2>
            <p>View previous beers of the week</p>
            <a href="/beers">View more</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://us.paulaner.com/img/us/mood_oktoberfest_maerzen.jpg" alt="img07"/>
        <figcaption>
            <h2>Oktoberfest <span>Beer</span></h2>
            <p>View all Oktoberfest beers</p>
            <a href="/beers?beer_type=Oktoberfest">View more</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://www.united-academics.org/magazine/wp-content/uploads/2012/01/beer.jpg" alt="img08"/>
        <figcaption>
            <h2> <span>IPA</span></h2>
            <p>View all IPA's</p>
            <a href="/beers?beer_type=IPA">View all lagers</a>
        </figcaption>
    </figure>

    <figure class="effect-sadie">
        <img src="http://www.annabellebreakey.com/wp-content/uploads/2012/02/13-beverages-beer.jpg" alt="img09"/>
        <figcaption>
            <h2>Imperial <span>Beer</span></h2>
            <p>View all imperial beers</p>
            <a href="/beers?beer_type=Imperial">View more</a>
        </figcaption>
    </figure>

</div>




